<div class="bg-white py-24 px-6 sm:py-32 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
      Contato
    </h2>
    <h3 class="text-xl text-gray-600 mb-8">
      Fale com um de nossos colaboradores.
    </h3>
  </div>
''
  <div class="grid grid-cols-1 sm:grid-cols-2">
    <form
      action="#"
      method="POST"
      class="mx-auto w-full bg-neutral-800 p-8 rounded-lg mt-16 max-w-xl sm:mt-20"
    >
      <div class="relative">
        <input
          type="text"
          id="hs-floating-underline-input-name"
          class="peer py-4 px-0 block w-full bg-transparent border-t-transparent border-b-2 border-x-transparent border-b-gray-200 text-sm placeholder:text-transparent focus:border-t-transparent focus:border-x-transparent focus:border-b-blue-500 focus:ring-0 disabled:opacity-50 disabled:pointer-events-none dark:border-b-gray-700 dark:text-gray-400 dark:focus:ring-gray-600 dark:focus:border-b-gray-600 focus:pt-6 focus:pb-2 [&:not(:placeholder-shown)]:pt-6 [&:not(:placeholder-shown)]:pb-2 autofill:pt-6 autofill:pb-2"
          placeholder="Nome Completo"
        />
        <label
          for="hs-floating-underline-input-name"
          class="absolute top-0 start-0 py-4 px-0 h-full text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent dark:text-white peer-disabled:opacity-50 peer-disabled:pointer-events-none peer-focus:text-xs peer-focus:-translate-y-1.5 peer-focus:text-gray-500 peer-[:not(:placeholder-shown)]:text-xs peer-[:not(:placeholder-shown)]:-translate-y-1.5 peer-[:not(:placeholder-shown)]:text-gray-500"
          >Nome Completo</label
        >
      </div>
      <!-- End Floating Input -->

      <!-- Floating Input -->
      <div class="relative">
        <input
          type="email"
          id="hs-floating-underline-input-email"
          class="peer py-4 px-0 block w-full bg-transparent border-t-transparent border-b-2 border-x-transparent border-b-gray-200 text-sm placeholder:text-transparent focus:border-t-transparent focus:border-x-transparent focus:border-b-blue-500 focus:ring-0 disabled:opacity-50 disabled:pointer-events-none dark:border-b-gray-700 dark:text-gray-400 dark:focus:ring-gray-600 dark:focus:border-b-gray-600 focus:pt-6 focus:pb-2 [&:not(:placeholder-shown)]:pt-6 [&:not(:placeholder-shown)]:pb-2 autofill:pt-6 autofill:pb-2"
          placeholder="email@example"
        />
        <label
          for="hs-floating-underline-input-email"
          class="absolute top-0 start-0 py-4 px-0 h-full text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent dark:text-white peer-disabled:opacity-50 peer-disabled:pointer-events-none peer-focus:text-xs peer-focus:-translate-y-1.5 peer-focus:text-gray-500 peer-[:not(:placeholder-shown)]:text-xs peer-[:not(:placeholder-shown)]:-translate-y-1.5 peer-[:not(:placeholder-shown)]:text-gray-500"
          >E-mail</label
        >
      </div>
      <!-- End Floating Input -->
      <!-- Floating Input -->
      <div class="relative">
        <input
          type="text"
          id="hs-floating-underline-input-telefone"
          class="peer py-4 px-0 block w-full bg-transparent border-t-transparent border-b-2 border-x-transparent border-b-gray-200 text-sm placeholder:text-transparent focus:border-t-transparent focus:border-x-transparent focus:border-b-blue-500 focus:ring-0 disabled:opacity-50 disabled:pointer-events-none dark:border-b-gray-700 dark:text-gray-400 dark:focus:ring-gray-600 dark:focus:border-b-gray-600 focus:pt-6 focus:pb-2 [&:not(:placeholder-shown)]:pt-6 [&:not(:placeholder-shown)]:pb-2 autofill:pt-6 autofill:pb-2"
          placeholder="Telefone"
        />
        <label
          for="hs-floating-underline-input-email"
          class="absolute top-0 start-0 py-4 px-0 h-full text-sm truncate pointer-events-none transition ease-in-out duration-100 border border-transparent dark:text-white peer-disabled:opacity-50 peer-disabled:pointer-events-none peer-focus:text-xs peer-focus:-translate-y-1.5 peer-focus:text-gray-500 peer-[:not(:placeholder-shown)]:text-xs peer-[:not(:placeholder-shown)]:-translate-y-1.5 peer-[:not(:placeholder-shown)]:text-gray-500"
          >Telefone</label
        >
      </div>
      <!-- End Floating Input -->
      <textarea
        class="py-3 px-0 block w-full bg-transparent border-t-transparent border-b-2 border-x-transparent border-b-gray-200 text-sm focus:border-blue-500 focus:border-t-transparent focus:border-x-transparent focus:border-b-blue-500 focus:ring-0 disabled:opacity-50 disabled:pointer-events-none dark:border-b-gray-700 dark:text-white dark:focus:ring-gray-600 dark:focus:border-b-gray-600"
        rows="3"
        placeholder="Digite sua mensagem"
      ></textarea>
      <button type="button" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
  ENVIAR MENSAGEM
</button>
    </form>

    <div class="mt-16 max-w-xl mx-auto text-center">
      <h2 class="text-xl font-bold text-gray-900">Endereço</h2>
      <p class="text-gray-600">
        Av. Dom Helder Câmara, 8141, Piedade, Rio de Janeiro.
      </p>
      <p class="text-gray-600">Email: otonaza&#64;yahoo.com.br</p>
      <p class="text-gray-600">Tel: 21 96442-1524</p>
      <h3 class="text-xl font-bold text-gray-900 mt-8">Funcionamento</h3>
      <p class="text-gray-600">Seg - Sex: 8hs às 19hs</p>
      <p class="text-gray-600">Sábado: 8hs às 16hs</p>
      <h3 class="text-xl font-bold text-gray-900 mt-8">Satcar</h3>
      <p class="text-gray-600">
        Nossa expertise reside na comercialização de automóveis novos e usados,
        tanto de origem nacional quanto importada. Acreditamos firmemente que
        sua experiência conosco não será apenas agradável, mas também resultará
        na aquisição do veículo desejado. Todos os nossos veículos passam por
        rigorosas inspeções, garantindo assim tranquilidade aos nossos clientes
        durante todo o processo de compra. Não perca tempo! Opte por adquirir
        seu veículo conosco, onde a expertise é garantida. Nossa equipe de
        vendas está à disposição para lhe prestar um atendimento de qualidade.
        Além disso, é importante ressaltar que todos os veículos são de
        propriedade exclusiva da nossa loja, possuem laudo cautelar e são de
        excelente procedência.
      </p>
    </div>
  </div>
</div>
