<div class="w-full">
  <div class="container mx-auto py-12 px-4">
    <div class="card">
      <div class="bg-white rounded-md shadow-md px-6">
        <h2
          class="text-3xl block mx-auto w-fit text-center font-light tracking-widest"
        >
          OFERTAS <span class="font-medium">IMPERDÍVEIS</span>
        </h2>
        <div
          class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-12 lg:max-w-7xl lg:px-8"
        >
          <div
            class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8"
          >
            <!-- inicio do card -->
            <div
              *ngFor="let item of veiculos; let i = index"
              [ngClass]="{ hidden: i >= 6 }"
              class="group relative"
            >
              <div
                class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80"
              >
                <img
                  src="{{item.imagens[0]}}" 
                  alt="Front of men&#039;s Basic Tee in black."
                  class="h-full w-full object-cover object-center lg:h-full lg:w-full"
                />
              </div>
              <!-- inicio das infos card -->
              <div class="mt-4 flex justify-between">
                <div>
                  <h3 class="text-sm text-gray-700">
                    <button (click)="navegarVeiculo(item.id)">
                      <span aria-hidden="true" class="absolute inset-0"></span>
                      {{ item.marca }} {{ item.modelo }} {{ item.ano }}
                    </button>
                  </h3>
                  <p class="mt-1 text-sm text-gray-500">
                    {{ item.caracteristicas }}
                  </p>
                </div>
                <p class="text-lg font-semibold h-fill text-gray-900">
                  R${{ item.preco }}
                </p>
              </div>
            </div>
            <!-- fim infos card -->
          </div>
        </div>
        <div class="w-full flex justify-center items-end">
          <button
            [routerLink]="['/estoque']"
            class="h-12 w-fill text-lg font-bold text-yellow-400 px-5 bg-gradient-to-r to-red-700 from-red-500 rounded-t-lg hover:shadow-red-600 hover:shadow-xl transition delay-75 ease-in"
          >
            VER MAIS OFERTAS
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
