<section class="header w-full text-slate-100">
  <div class="header-slice flex bg-red-700 h-14 justify-center items-center">
    <div
      class="flex justify-between items-center h-2/4 w-11/12 tracking-wide text-center"
    >
      <span>+ 25 anos no Mercado</span>
      <span>Av. Dom Helder Câmara, 8141 Rio de Janeiro - Rj</span>
      <span>Siga-nos nas redes sociais:</span>
    </div>
  </div>
  <div class="navbar-slice flex justify-center bg-slate-200 h-16 w-full">
    <div class="flex justify-between items-center h-full w-11/12">
      <img src="../../../assets/logo.png" alt="logo satcar" class="h-full" />
      <nav
        class="links flex h-2/4 w-fit items-center gap-3 text-neutral-900 font-semibold tracking-wider"
      >
        <button [routerLink]="['/inicio']" class=""> Início </button>
        <button [routerLink]="['/estoque']" class=""> Estoque </button>
        <button [routerLink]="['/financiamento']" class=""> Financiamento </button>
        <button [routerLink]="['/venda-seu-carro']" class=""> Venda seu Carro</button>
        <button [routerLink]="['/contato']" class="">Contato</button>
      </nav>
    </div>
  </div>
</section>
