<section class="header w-full text-slate-100">
  <div class="header-slice flex bg-red-700 h-14 justify-center items-center">
    <div class="flex justify-between items-center h-2/4 w-11/12 tracking-wide text-center">
      <span>+ 25 anos no Mercado</span>
      <span>Av. Dom Helder Câmara, 8141 Rio de Janeiro - Rj</span>
      <span>Siga-nos nas redes sociais:</span>
    </div>
  </div>
  <div class="navbar-slice flex justify-center bg-slate-200 h-16 w-full">
    <div class="flex justify-between items-center h-full w-11/12">
      <img src="../../../assets/logo.png" alt="logo satcar" class="h-full" />
      <nav class="links flex h-2/4 w-fit items-center gap-3 text-neutral-900 font-semibold tracking-wider">
        <a href="/" class=""><span class=""> Início </span></a>
        <a href="/estoque" class=""><span class=""> Estoque </span></a>
        <a href="/financiamento" class=""><span class=""> Financiamento </span></a>
        <a href="/vendaseucarro" class=""><span class=""> Venda seu Carro</span></a>
        <a href="/contato" class=""><span class="">Contato</span></a>
      </nav>
    </div>
  </div>
</section>
