<div class="lista-produtos grid grid-cols-12 mt-24">
  <!-- <div>
    Navigation Toggle
    <button
      type="button"
      class="text-gray-500 hover:text-gray-600"
      data-hs-overlay="#docs-sidebar"
      aria-controls="docs-sidebar"
      aria-label="Toggle navigation"
    >
      <span class="sr-only">Toggle Navigation</span>
      <svg
        class="flex-shrink-0 size-4"
        width="16"
        height="16"
        fill="currentColor"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
        />
      </svg>
    </button>
    End Navigation Toggle

    <div
      id="docs-sidebar"
      class="hs-overlay hs-overlay-open:translate-x-0 -translate-x-full transition-all duration-300 transform hidden fixed top-0 start-0 bottom-0 z-[60] w-64 bg-white border-e border-gray-200 pt-7 pb-10 overflow-y-auto lg:block lg:translate-x-0 lg:end-auto lg:bottom-0 [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-slate-700 dark:[&::-webkit-scrollbar-thumb]:bg-slate-500 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="px-6">
        <img src="../../assets/logo.png" alt="" />
      </div>
      <nav
        class="hs-accordion-group p-6 w-full flex flex-col flex-wrap"
        data-hs-accordion-always-open
      >
        <ul class="space-y-2.5">
          <li *ngFor="let item of filtros">
            <label
              for="hs-select-label"
              class="block text-sm font-medium mb-2 dark:text-white"
              >{{ item.label }}</label
            >
            <select
              id="hs-select-label"
              class="py-3 px-4 pe-9 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600"
            >
              <option selected></option>
              <option *ngFor="let opcao of item.opcoes">{{opcao}}</option>
            </select>
          </li>
        </ul>
      </nav>
    </div>
  </div> -->

  <div class="col-start-2 col-end-12 w-full mx-auto flex flex-col">
    <div class="options flex justify-center items-center h-16 w-full bg-red-700 rounded-b-3xl">
      <div class="text-wrapper">
        <h1 class="text-4xl text-center font-black tracking-widest text-slate-200">
          ESTOQUE
        </h1>
      </div>

      <!-- ordenador de busca -->
      <!-- <div>
        <select
          class="py-3 px-4 pe-9 block w-full bg-gray-100 border-transparent rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-700 dark:border-transparent dark:text-gray-400 dark:focus:ring-gray-600"
        >
          <option selected>Ordem:</option>
          <option>Crescente</option>
          <option>Descrescente</option>
        </select>
      </div> -->



    </div>
    <!-- inicio lista veiculos -->
    <div class="listagem-veiculos w-full h-full">
      <div class="card">
        <div class="bg-white">
          <div
            class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-12 lg:max-w-7xl lg:px-8"
          >
            <div

              class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8"
            >
              <!-- inicio do card -->
              <div *ngFor="let item of veiculos" class="group relative">
                <div
                  class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80"
                >
                  <img
                    src="{{item.imagens[0]}}"
                    alt="Front of men&#039;s Basic Tee in black."
                    class="h-full w-full object-cover object-center lg:h-full lg:w-full"
                  />
                </div>
                <!-- inicio das infos card -->
                <div class="mt-4 flex justify-between">
                  <div>
                    <h3 class="text-sm text-gray-700">
                      <button (click)="navegarVeiculo(item.id)">
                        <span
                          aria-hidden="true"
                          class="absolute inset-0"
                        ></span>
                        {{ item.marca }} {{ item.modelo }} {{ item.ano }}
                      </button>
                    </h3>
                    <p class="mt-1 text-sm text-gray-500">
                      {{ item.caracteristicas }}
                    </p>
                  </div>
                  <p class="text-lg font-semibold h-fill text-gray-900">
                    R${{ item.preco }}
                  </p>
                </div>
              </div>
              <!-- fim infos card -->
            </div>
          </div>
        </div>
      </div>
      <!-- fim lista -->
    </div>
  </div>
</div>

