<section class="depoimentos h-fit w-full my-72">
  <div class="w-full flex flex-col justify-center items-center tracking-widest mx-auto">

    <div
      class="text-wrapper flex flex-col text-center justify-center items-center mt-32 "
    >
      <h1 class="text-3xl font-normal ">VEJA O QUE NOSSOS CLIENTES DIZEM</h1>
    </div>
    <div class="comentarios w-10/12 text-center gap-8 mt-16">
      <p>
        "Desde o momento em que entrei na loja, fui recebida com um sorriso caloroso e uma atitude profissional e cortês por parte de toda a equipe. Cada membro da equipe demonstrou um profundo conhecimento sobre os veículos e foi capaz de responder a todas as minhas perguntas com clareza e paciência."
      </p>
    </div>
    <span class="my-12"><b>Clara Martins</b></span>
  </div>
    <div class="imagens relative flex justify-center items-center mt-48 gap-4">
      
      <img class="w-full h-full " src="../../../assets/img-loja/frontal-loja-satcar.jpeg" alt="" />
      <div class="bg-red-500/60 w-full h-full p-5 absolute"></div>
      <div class="text-wrapper absolute top-28 left-20">
        <span class=" text-7xl font-black tracking-widest text-white">VENHA PARA..</span>
      </div>
      <div class="text-wrapper w-2/6 bg-amber-500 p-10 absolute bottom-28 left-20">
        <span class=" text-2xl font-semibold tracking-widest text-white">Todos os nossos veículos passam por rigorosas inspeções, garantindo assim tranquilidade aos nossos clientes durante todo o processo de compra. Não perca tempo! Opte por adquirir seu veículo conosco, onde a expertise é garantida.</span>
      </div>
        <iframe class=" absolute bottom-16 right-20 w-3/6 h-3/6" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3675.719896625973!2d-43.308497325439546!3d-22.886803379269082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x997d1eb2800311%3A0x5baebafeb9af8460!2sAv.%20Dom%20H%C3%A9lder%20C%C3%A2mara%2C%208141%20-%20Piedade%2C%20Rio%20de%20Janeiro%20-%20RJ%2C%2020751-001!5e0!3m2!1spt-BR!2sbr!4v1710271500157!5m2!1spt-BR!2sbr"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>

