<section class="depoimentos relative h-fit w-full my-72">
  <img class="absolute w-96 top-3/4 img-espelhada left-8" src="../../../assets/backgrounds/menina-feliz-celular.png" alt="">
  <div
    class="w-full flex flex-col justify-center items-center tracking-widest mx-auto"
  >
    <div
      class="text-wrapper flex flex-col text-center justify-center items-center mt-32"
    >
      <h1 class="text-3xl font-normal">VEJA O QUE NOSSOS CLIENTES DIZEM</h1>
    </div>
    <div class="comentarios w-10/12 text-center gap-8 mt-16">
      <p>
        "Desde o momento em que entrei na loja, fui recebida com um sorriso
        caloroso e uma atitude profissional e cortês por parte de toda a equipe.
        Cada membro da equipe demonstrou um profundo conhecimento sobre os
        veículos e foi capaz de responder a todas as minhas perguntas com
        clareza e paciência."
      </p>
    </div>
    <span class="my-12"><b>Clara Martins</b></span>
  </div>
  <div class="imagens relative flex justify-center items-center mt-48 gap-4">
    <img
      class="w-full h-full"
      src="../../../assets/img-loja/frontal-loja-satcar.jpeg"
      alt=""
    />
    <div class="bg-red-500/60 sm:flex sm:flex-col gap-5 justify-between w-full h-full px-1 absolute">
      <div class="text-wrapper lg:absolute lg:top-14">
        <span class="text-3xl sm:text-6xl lg:text-7xl font-black tracking-widest text-white"
          >VENHA PARA..</span
        >
      </div>
      <div class="text-wrapper absolute bottom-1 sm:w-5/12 bg-amber-500/50 md:h-3/6 lg:py-10 lg:px-2">
        <span class="text-sm sm:text-xl  text-center md:text-xl lg:text-2xl xl:text-3xl font-semibold tracking-widest text-white"
          >Todos os nossos veículos passam por rigorosas inspeções, garantindo
          assim tranquilidade aos nossos clientes durante todo o processo de
          compra. Não perca tempo! Opte por adquirir seu veículo conosco, onde a
          expertise é garantida.</span
        >
      </div>
    </div>

    <iframe
      class="absolute -bottom-3/4 sm:bottom-1 right-1 w-full sm:w-3/6 sm:h-3/6"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3675.719896625973!2d-43.308497325439546!3d-22.886803379269082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x997d1eb2800311%3A0x5baebafeb9af8460!2sAv.%20Dom%20H%C3%A9lder%20C%C3%A2mara%2C%208141%20-%20Piedade%2C%20Rio%20de%20Janeiro%20-%20RJ%2C%2020751-001!5e0!3m2!1spt-BR!2sbr!4v1710271500157!5m2!1spt-BR!2sbr"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>
