<section class="depoimentos h-fit w-full my-72">
  <div class="w-11/12 flex flex-col justify-center items-center tracking-widest mx-auto">
    <div class="imagens flex justify-center items-center gap-4">
      <img src="https://source.unsplash.com/random/300x300" alt="" />
      <img src="https://source.unsplash.com/random/300x300" alt="" />
      <img src="https://source.unsplash.com/random/300x300" alt="" />
    </div>
    <div
      class="text-wrapper flex flex-col justify-center items-center mt-32 gap-4"
    >
      <h1 class="text-3xl font-normal ">VEJA O QUE NOSSOS CLIENTES DIZEM</h1>
    </div>
    <div class="comentarios w-10/12 text-center mt-16">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex ducimus
        odit tempore harum. Sint ex vero aliquam numquam ad delectus, quod nemo
        aperiam accusamus vel eos consequatur porro. Consectetur, excepturi.
      </p>
      <span><b>John Doe</b></span>
    </div>
  </div>
</section>
