<section class="descubra flex justify-center w-full h-96">
  <div class="informações grid grid-cols-3 w-11/12 ">
    <div
      class="col-span-1 flex flex-col justify-center items-center"
    >
      <div class="text-wrapper flex flex-col items-center gap-1 tracking-wider">
        <h3 class="titulo text-4xl font-medium">Descubra</h3>
        <h4 class="descricao text-4xl font-thin">Novas possibilidades</h4>
        <button
          type="button"
          class="w-4/5 mt-5 py-3 px-4 flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
        >
          <span class="mx-auto">VER TODOS OS VEÍCULOS</span>
        </button>
      </div>
    </div>
    <div class="col-span-2 bg-red-400"> imagem</div>
  </div>
</section>
